
Tareas/Grafo y Sockets/.idea/

Tareas/Grafo y Sockets/CMakeFiles/Lista-Grafos-Sockets.dir/

*.cmake

Tareas/Grafo y Sockets/CMakeCache.txt

*.bin

Tareas/Grafo y Sockets/CMakeFiles/3.16.4/CompilerIdC/

Tareas/Grafo y Sockets/CMakeFiles/3.16.4/CompilerIdCXX/

Tareas/Grafo y Sockets/CMakeFiles/

Tareas/Grafo y Sockets/Tarea_Sockets.cbp
